html{ font-family: 'Noto Sans JP', sans-serif; }

li { list-style: none; }

h2 {
  font-size: 3em;
  letter-spacing: -0.03em;
 }

h3 {
font-size: 1.5em;
letter-spacing: -0.03em;
}

.fab,.fas {
  font-size: 19px;
}

.head {
  position: fixed;
  z-index: 99;
  height: 44px;
  width: 100%;
  background: rgba(45,45,45,0.98);
  &--co {   
    z-index: 2;
    height: 44px;
    margin: 0 auto;
    position: relative;    
    max-width: 980px;
    &--header {
      position: absolute;
      line-height: 44px;
      width: 100%;
      display: flex;
      padding: 0 10px;
      justify-content: space-between;
      li {
        color: #fff;
        font-size: 0.8rem;
        font-weight: 400;
        padding: 0 10px;
      }
    }
  }
}

.iphone-11-pro {
  padding-top: 40px;
  height: 625px;
  &__back{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("images/image1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__copy {
    position: absolute;
    width: 100%;
    padding-top: 47px;
    text-align: center;
  }
}

.iphone-11 {
  padding-top: 10px;
  height: 625px;
  &__back{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("images/image2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__copy {
    position: absolute;
    width: 100%;
    padding-top: 47px;
    text-align: center;
  }
}

.apple-fukuoka {
  padding-top: 10px;
  height: 625px;
  &__back{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("images/image3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__copy {
    position: absolute;
    width: 100%;
    padding-top: 47px;
    text-align: center;
  }
}

.headline { 
  color: #fff;
  &__sub {
    color: #fff;
    margin-bottom: 0.4em;
    letter-spacing: -0.07em;
  }
  &__links {
    margin-top: 0.6em;
    font-size: 19px;
    &__show {
      text-decoration: none;
      color: #6bf;
    }
    &__buy {
      margin-left: 21px;
      text-decoration: none;
      color: #6bf;
    }
  }
}

.headline11 { 
  color: black;
  &__sub {
    color: black;
    margin-bottom: 0.4em;
    letter-spacing: -0.07em;
  }
  &__links {
    margin-top: 0.6em;
    font-size: 19px;
    &__show {
      text-decoration: none;
      color: #0070c9;
    }
    &__buy {
      margin-left: 21px;
      text-decoration: none;
      color: #0070c9;
    }
  }  
}

.price {
  color: #808080;
  font-size: 0.88em;
  margin-bottom: 0.6em;
  &__sup {
    font-size: 0.2rem;
  }
}

.headline__links__show:after,.headline__links__buy:after {
  font-family: "Font Awesome 5 Free";
  content: '\f054';
  font-weight: 900;
}

.headline11__links__show:after,.headline11__links__buy:after {
  font-family: "Font Awesome 5 Free";
  content: '\f054';
  font-weight: 900;
}

.unit1 {
  position: relative;
  background-image: url("images/image4.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.unit2 {
  position: relative;
  background-image: url("images/image5.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.unit3 {
  position: relative;
  background-image: url("images/image6.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.unit4 {
  position: relative;
  background-image: url("images/image7.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.unit5 {
  position: relative;
  background-image: url("images/image8.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.unit6 {
  position: relative;
  background-image: url("images/image9.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.box {
  width: 100%;
  height: 625px;
}

.boxies {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  padding-top: 15px;
}

.box__back {
  padding: 5px;
}